@import "./variable";

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.sidebar{
  background-color: $deepBlue;
  height: 100%;
  width: 300px;
  float: left;

  &-top{
    background-color: $black;
    height: 100px;
    padding: 0 20px;

    i{
      float: right;
      color: $white;
      margin: 44px 0 44px 8px;
    }
  }


  &-name{
    font-size: 16px;
    font-weight: bold;
    color: $white;
    padding: 38px 0;
    float: left;
  }
  
  .groups{
    background-color: $deepBlue;
    height: calc(100% - 100px);
    padding: 0 20px 0 20px;
    overflow: scroll;
  }

  .group{
    color: $white;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 40px;
  

    &-name{
      font-size:15px;
    }

    &-message{
      font-size: 11px;
    }
  }
}

.main{
  height: calc(100% - 90px);
  width: calc(100% - 300px);
  float: right;

  &-top{
    display: flex;
    height: 100px;
    width: calc(100%-300px);
    padding :0 40px;
  }

    &-name{
      float: left;
    }

      h2{
        font-size: 20px;
        color: $anotherBlack;
        padding-top: 30px;
        padding-bottom: 10px;
      }

      p{
        float: left;
        font-size: 12px;
        color: $gray;
      }

    .edit_btn{
      position: fixed;
      top: 0;
      right: 20px;
      float: right;
      margin: 28px 0;
      color: $lightBlue;
      border: 1px solid $lightBlue;
      padding: 10px 20px;

      &_inside {
        text-decoration: none;
        color: $lightBlue;
      }
  }

  &-bottom{
    background-color: $lightGray;
    height: calc(100% - 190px);
    width: calc(100% -300px);
    padding: 46px 40px;
    overflow: scroll;
  }

  .message{
  }

    .upper-info{
      width: 300px;
      height: 24px;
      margin-bottom: 10px;
    

      &-user{
        font-size: 16px;
        font-weight: bold;
        color: $darkGray;
        float: left;
      }

      &-date{
        font-size: 12px;
        color: $gray;
        padding: 3px 0;
        margin-left: 10px;
        float: left;
      }
    }
    .lower-info{
      display: block;
      margin-bottom: 40px;
    }
      p{

      }

      .image{
        height: 100px;
        width: 100px;
      }
}


footer{
  position: fixed;
  // display: flex;
  background-color: $anotherGray;
  bottom: 0;
  left: 300px;
  height: 90px;
  width: calc(100% - 300px);

  .input-textarea{
    position: relative;
    height: 50px;
    width: calc(100% - 205px);
    padding-left: 10px;
    margin: 20px 0 20px 40px;
    line-height: 16px;
    float: left;
    border: none;
  }

  .image-icon i{
    position: absolute;
    top: 40px;
    right: 170px;
  }

  .image-icon input{
    display: none;
  }

  ::placeholder{
    color: $darkGray;
  }

  .input-submit{
    background-color: $lightBlue;
    height: 50px;
    width: 100px;
    float: right;
    margin: 20px 40px 20px 15px;
    color: $white;
    border: none;
  }
}